body{
    background-image:url("manga.jpg");
}
#divprincipal{
    padding-top: 10px;
    padding-bottom: 40px;
    margin: auto;
    width: 700px;
    background-color: lavenderblush;
    border: none;
    border-radius:10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}
th{
    padding-left:100px;
}
label{
    position: relative;
    width: 170px;
    left: 20px;
    display: inline-block;

}
input{
    position: relative;
    left: 20px;
    width: 150px ;
}
select{
    position: relative;
    left: 20px;
    width: 250px;
}
form{
    margin:auto;
    width: 500px;

}